.sidebar {
  width: 200px;
  height: 140vh;
  background-color: #d4c7ec;
  color: white;
  transition: width 0.3s;
  overflow: hidden;
  padding: 10px 0;
  z-index: 1;
}

.sidebar .toggle-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 20px;
  position: relative;
  left: 10px;
  padding: 10px;
  cursor: pointer;
}

.sidebar ul.menu {
  list-style: none;
  padding-top: 20px;
}

.sidebar ul.menu li {
  padding: 0;
  text-align: left;
}

.sidebar ul.menu li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 15px;
  transition: background-color 0.3s;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.menu i {
  font-size: 18px;
  position: relative;
  left: 5px;
}

.menu span {
  margin-left: 5px;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed .menu li a span {
  display: none;
}
.content {
  position: fixed;
  text-align: center;
  width: calc(100% - 260px);
  margin-left: 100px;
  top: 15%;
  transition: color 0.5s ease, transform 0.3s ease, width 0.3s ease;
}
.content:hover {
  color: #510a32;
  text-shadow: rgb(226, 115, 159) 1px 0 10px;
}

@media (max-width: 500px) {
  .content {
    margin-left: 70px;
  }
}
.menu li.active a {
  background-color: #ffffff;
  color: white;
  border-radius: 6px;
}
